#set($JVM_CHART_TYPE_LIST = ["Cpu", "Heap", "NonHeap", "PermGen", "OldGen", "EdenSpace","Survivor", "GCCount", "GCTime",
    "ThreadCount"])

#set($index = 0)
#foreach($jvmChartType in $JVM_CHART_TYPE_LIST)
    #if($index % 2 == 0)
        #if($index != 0)
        </div>
        #end
    <div class="row">
    #end
    <div class="col-lg-6">
        <div class="ibox">
            <div class="ibox-title">
                <h5><span class="text-navy">${jvmChartType}</span></h5>

                <div class="ibox-tools"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></div>
            </div>
            <div class="ibox-content">
                <div>
                    <div id="JVM_$jvmChartType" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
    </div>
    #set($index = $index +1)
    #if($index == ${JVM_CHART_TYPE_LIST.size()})
    </div>
    #end
#end