<div class="row border-bottom">
    <nav class="navbar navbar-static-top  grey-bg " role="navigation">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary "
               href="#"><i class="fa fa-bars"></i> </a>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li class="welcome-message">
                <span class="m-r-sm text-muted">
                    <a href="https://github.com/ltsopensource/light-task-scheduler" target="_blank"><span class="label label-info"><i class="fa fa-github"></i> github</span></a>
                    <a href="http://git.oschina.net/hugui/light-task-scheduler" target="_blank"><span class="label label-info"><i class="fa fa-users"></i> oschina</span></a>
                </span>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"
                   href="#">
                    <img class="img-circle" style="width:30px;" src="${contextPath}/assets/img/avatar.jpeg">
                    <span>管理员</span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">我的应用</a></li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">退出</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>