/* 有关间距、空隙 */
.hidden{
    display: none;
}
.nomargin {
    margin: 0 !important;
}
.nopadding {
    padding: 0 !important;
}
.mg_0 {
    margin: 0;
}
.mg_3 {
    margin: 3px;
}
.mg_5 {
    margin: 5px;
}
.mg_10 {
    margin: 10px;
}
.mg_15 {
    margin: 15px;
}
.mg_20 {
    margin: 20px;
}
.mg_25 {
    margin: 25px;
}
.mg_30 {
    margin: 30px;
}
.mg_35 {
    margin: 35px;
}
.mg_40 {
    margin: 40px;
}
.mg_45 {
    margin: 45px;
}
.mg_50 {
    margin: 50px;
}
.mt_-10 {
    margin-top: -10px;
}
.mt_-5 {
    margin-top: -5px;
}
.mt_-3 {
    margin-top: -3px;
}
.mt_-1 {
    margin-top: -1px;
}
.mt_0 {
    margin-top: 0;
}
.mt_3 {
    margin-top: 3px;
}
.mt_5 {
    margin-top: 5px;
}
.mt_10 {
    margin-top: 10px;
}
.mt_15 {
    margin-top: 15px;
}
.mt_20 {
    margin-top: 20px;
}
.mt_25 {
    margin-top: 25px;
}
.mt_30 {
    margin-top: 30px;
}
.mt_35 {
    margin-top: 35px;
}
.mt_40 {
    margin-top: 40px;
}
.mt_45 {
    margin-top: 45px;
}
.mt_50 {
    margin-top: 50px;
}
.mr_-10 {
    margin-right: -10px;
}
.mr_-5 {
    margin-right: -5px;
}
.mr_-3 {
    margin-right: -3px;
}
.mr_-1 {
    margin-right: -1px;
}
.mr_0 {
    margin-right: 0;
}
.mr_3 {
    margin-right: 3px;
}
.mr_5 {
    margin-right: 5px;
}
.mr_10 {
    margin-right: 10px;
}
.mr_15 {
    margin-right: 15px;
}
.mr_20 {
    margin-right: 20px;
}
.mr_25 {
    margin-right: 25px;
}
.mr_30 {
    margin-right: 30px;
}
.mr_35 {
    margin-right: 35px;
}
.mr_40 {
    margin-right: 40px;
}
.mr_45 {
    margin-right: 45px;
}
.mr_50 {
    margin-right: 50px;
}
.mb_-10 {
    margin-bottom: -10px;
}
.mb_-5 {
    margin-bottom: -5px;
}
.mb_-3 {
    margin-bottom: -3px;
}
.mb_-1 {
    margin-bottom: -1px;
}
.mb_0 {
    margin-bottom: 0;
}
.mb_3 {
    margin-bottom: 3px;
}
.mb_5 {
    margin-bottom: 5px;
}
.mb_10 {
    margin-bottom: 10px;
}
.mb_15 {
    margin-bottom: 15px;
}
.mb_20 {
    margin-bottom: 20px;
}
.mb_25 {
    margin-bottom: 25px;
}
.mb_30 {
    margin-bottom: 30px;
}
.mb_35 {
    margin-bottom: 35px;
}
.mb_40 {
    margin-bottom: 40px;
}
.mb_45 {
    margin-bottom: 45px;
}
.mb_50 {
    margin-bottom: 50px;
}
.ml_-10 {
    margin-left: -10px;
}
.ml_-5 {
    margin-left: -5px;
}
.ml_-3 {
    margin-left: -3px;
}
.ml_-1 {
    margin-left: -1px;
}
.ml_0 {
    margin-left: 0;
}
.ml_3 {
    margin-left: 3px;
}
.ml_5 {
    margin-left: 5px;
}
.ml_10 {
    margin-left: 10px;
}
.ml_15 {
    margin-left: 15px;
}
.ml_20 {
    margin-left: 20px;
}
.ml_25 {
    margin-left: 25px;
}
.ml_30 {
    margin-left: 30px;
}
.ml_35 {
    margin-left: 35px;
}
.ml_40 {
    margin-left: 40px;
}
.ml_45 {
    margin-left: 45px;
}
.ml_50 {
    margin-left: 50px;
}
.pd_0 {
    padding: 0;
}
.pd_5 {
    padding: 5px;
}
.pd_10 {
    padding: 10px;
}
.pd_15 {
    padding: 15px;
}
.pd_20 {
    padding: 20px;
}
.pd_25 {
    padding: 25px;
}
.pd_30 {
    padding: 30px;
}
.pd_35 {
    padding: 35px;
}
.pd_40 {
    padding: 40px;
}
.pd_45 {
    padding: 45px;
}
.pd_50 {
    padding: 50px;
}
.pt_0 {
    padding-top: 0;
}
.pt_5 {
    padding-top: 5px;
}
.pt_10 {
    padding-top: 10px;
}
.pt_15 {
    padding-top: 15px;
}
.pt_20 {
    padding-top: 20px;
}
.pt_25 {
    padding-top: 25px;
}
.pt_30 {
    padding-top: 30px;
}
.pr_0 {
    padding-right: 0;
}
.pr_5 {
    padding-right: 5px;
}
.pr_10 {
    padding-right: 10px;
}
.pr_15 {
    padding-right: 15px;
}
.pr_20 {
    padding-right: 20px;
}
.pr_25 {
    padding-right: 25px;
}
.pr_30 {
    padding-right: 30px;
}
.pb_0 {
    padding-bottom: 0;
}
.pb_5 {
    padding-bottom: 5px;
}
.pb_10 {
    padding-bottom: 10px;
}
.pb_15 {
    padding-bottom: 15px;
}
.pb_20 {
    padding-bottom: 20px;
}
.pb_25 {
    padding-bottom: 25px;
}
.pb_30 {
    padding-bottom: 30px;
}
.pl_0 {
    padding-left: 0;
}
.pl_5 {
    padding-left: 5px;
}
.pl_10 {
    padding-left: 10px;
}
.pl_15 {
    padding-left: 15px;
}
.pl_20 {
    padding-left: 20px;
}
.pl_25 {
    padding-left: 25px;
}
.pl_30 {
    padding-left: 30px;
}
/* 有关字体 */
.ft_0 {
    font-size: 0;
    line-height: 0;
}
.ft_6 {
    font-size: 6px;
}
.ft_8 {
    font-size: 8px;
}
.ft_10 {
    font-size: 10px;
}
.ft_12 {
    font-size: 12px;
}
.ft_14 {
    font-size: 14px;
}
/* 16号字体以上默认雅黑 */
.ft_16 {
    font-size: 16px;
    font-family: 'microsoft yahei';
}
.ft_18 {
    font-size: 18px;
    font-family: 'microsoft yahei';
}
.ft_20 {
    font-size: 20px;
    font-family: 'microsoft yahei';
}
.ft_22 {
    font-size: 22px;
    font-family: 'microsoft yahei';
}
.ft_24 {
    font-size: 24px;
    font-family: 'microsoft yahei';
}
.ft_26 {
    font-size: 26px;
    font-family: 'microsoft yahei';
}
.ft_28 {
    font-size: 28px;
    font-family: 'microsoft yahei';
}
.ft_30 {
    font-size: 30px;
    font-family: 'microsoft yahei';
}
.ft_32 {
    font-size: 32px;
    font-family: 'microsoft yahei';
}
.ft_34 {
    font-size: 34px;
    font-family: 'microsoft yahei';
}
.ft_36 {
    font-size: 36px;
    font-family: 'microsoft yahei';
}
.ft_38 {
    font-size: 38px;
    font-family: 'microsoft yahei';
}
.ft_40 {
    font-size: 40px;
    font-family: 'microsoft yahei';
}
.ft_42 {
    font-size: 42px;
    font-family: 'microsoft yahei';
}
.ft_44 {
    font-size: 44px;
    font-family: 'microsoft yahei';
}
.ft_46 {
    font-size: 46px;
    font-family: 'microsoft yahei';
}
.ft_48 {
    font-size: 48px;
    font-family: 'microsoft yahei';
}
.ft_50 {
    font-size: 50px;
    font-family: 'microsoft yahei';
}
.ft-normal {
    font-weight: 400;
    font-style: normal;
}
.ft-bold {
    font-weight: bold;
}
.ft-italic {
    font-style: italic;
}
.ft-left {
    text-align: left;
}
.ft-right {
    text-align: right;
}
.ft-center {
    text-align: center;
}
.fc-red {
    color: #ea4a36;
}
.fc-blue {
    color: #2597DD;
}
.fc-green {
    color: #22CD6E;
}
.fc-orange {
    color: #FF7300;
}
.fc-gray {
    color: #666666;
}
.fc-black {
    color: #000000;
}
.fc-yellow {
    color: #F0A606;
}
.fc_000,
.fc_000 {
    color: #000;
}
.fc_333,
.fc_333 {
    color: #333;
}
.fc_666,
.fc_666 {
    color: #666;
}
.fc-999,
.fc-999999 {
    color: #999;
}
.fc_999,
.fc_999999 {
    color: #999;
}
.fc-cyan {
    color: #1CB408;
}
.fc-success {
    color: #22CD6E;
}
.fc-warn {
    color: #FF7300;
}
.fc-error {
    color: #ea4a36;
}
.yen,
.fm-yahei {
    font-family: 'microsoft yahei';
}
.fm-arial {
    font-family: arial;
}
.fm-simsun,
.fm-songti {
    font-family: simsun;
}
.fm-impact {
    font-family: impact;
}
.fm-georgia {
    font-family: georgia;
}